
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

body{
  background-color: rgb(10, 13, 56);
  overflow-x: hidden !important;
}
 html{
   overflow-x: hidden !important;
 }

svg{
  font-size: 40px !important;
}

.main-day {
  transition: 1s;

  background-color: rgb(90, 120, 203) !important;
}
////
.main-night {
  transition: 1s;
  background-color: rgba(19,24,98,1);
}

.main-container {
  position: relative;
  z-index: 1;
  transition: 1s;
  min-height: 100vh;
  background-color: rgb(10, 13, 56);
  //font-family: 'Raleway', sans-serif !important;
  //font-family: 'Poppins', sans-serif !important;
  font-family: 'Montserrat', sans-serif !important;

  .not-found{
    transition: 1s;
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 400px;
    padding: 30px 30px;
    background-color: #075767;
    color: white !important;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;

    .content{
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon{
        margin-right: 30px;
        svg{
          font-size: 50px !important;
        }
      }
      .text{
        color: white !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
          margin-bottom: 20px;
          word-break: break-word;
        }
      }
    }
  }
  .not-found-active{
    opacity: 1;
    transform: translateX(0);
  }

  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    .search {
      margin-top: 30px;
      margin-bottom: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 10px;

      input {
        height: 50px;
        width: 80%;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0 10px;
        background-color: transparent;
        outline: none;
        border: none;
        font-weight: 500 !important;
      }
      input::placeholder{
        color: rgba(255, 255, 255, 0.5);
      }

      button {
        font-weight: 400;
        color: #ffffff;
        width: 20%;
        height: 50px;
        background-color: transparent;
        outline: none;
        border-left: 1px solid #ffffff;
        border-right: none;
        border-bottom: none;
        border-top: none;
        font-size: 16px;
        letter-spacing: 1px;
        cursor: pointer;
      }
      @media screen and (max-width: 686px) {
        input{
          width: 70%;
        }
        button{
          width: 30%;
        }
      }
    }

    .common {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        .name {
          display: flex;
          flex-direction: column;
          //height: 100%;
          align-items: flex-start;
          justify-content: flex-start;
          width: 50%;
          p:nth-child(1){
            word-break: break-word;
          }
          .temperature{
            font-size: 40px;
            font-weight: 500;
          }
          .date{
            font-size: 20px;
            font-weight: 500;
          }
          .sunrise-sunset{
            display: flex;
            flex-direction: row;
            align-items: center;
            .day-night{
              display: flex;
              align-items: center;
              font-size: 20px;
              font-weight: 500;
              svg{
                margin-right: 10px;
                font-size: 30px;
              }
            }
            p:nth-child(1){
              margin-right: 40px;
            }
          }
          @media screen and (max-width: 580px) {
            .sunrise-sunset{
              flex-direction: column;
              p:nth-child(1){
                margin-right: 0;
              }
            }
          }
          p:nth-child(1) {
            font-weight: 600;
            font-size: 40px;
          }

          p {
            font-weight: 400;
            font-size: 30px;
          }
          @media screen and (max-width: 700px) {
            p:nth-child(1){
              font-size: 30px;
            }
            .temperature{
              font-size: 30px;
            }
          }
        }
        .weather-condition{
          align-self: flex-start;
          width: 50%;
          //align-items: flex-start;
          display: flex;
          justify-content: flex-end;
          svg{
            font-size: 250px !important;
          }
          @media screen and (max-width: 600px) {
            svg{
              font-size: 150px !important;
            }
          }
        }
      }
      .about-city {
        margin-top: 100px;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .temp,
        .weather,
        .wind {
          margin-bottom: 40px;
          display: flex;
          //justify-content: center;
          align-items: center;

          i {
            font-size: 50px;
          }

          .soyuq {
            color: #5eb3dd;
          }

          .orta {
            color: #d26e48 !important;
          }

          svg{
            font-size: 40px !important;
          }

          .isti {
            color: #ff2020;
          }

          .fa-sun {
            color: rgb(230, 198, 18);
          }

          .fa-cloud {
            color: rgb(224, 224, 224);
          }
          .bi-cloud {
            font-size: 50px;
            color: rgb(224, 224, 224);
          }

          .fa-wind {
            color: rgb(202, 202, 202);
          }

          .fa-snowflake {
            color: #5eb3dd;
          }

          span {
            margin-right: 20px;
          }
        }

        p {
          font-size: 30px;
          letter-spacing: 1px;
          //color: #5a247a;
        }
      }
    }
  }
}

